In [1]:
import dask.dataframe as dd

from py.consts import DATA_DIR
from py.utils import one_hot_encode


initial_sample_size = 1000

In [2]:
dataset = dd.read_parquet(DATA_DIR / "prepared_1000.parquet")
dataset.head()

      wegnummer   zijde      month        day  y
39790      N240   beide      April     Monday  1
91125       A28  rechts  September   Saturday  1
14107      N196   beide   February    Tuesday  1
46833      N278   beide  September  Wednesday  1
25402      N257   beide      April  Wednesday  1

In [3]:
dataset = one_hot_encode(df=dataset, column="zijde", dtype=int)
dataset = one_hot_encode(df=dataset, column="day", dtype=int)
dataset = one_hot_encode(df=dataset, column="month", dtype=int)
dataset = one_hot_encode(df=dataset, column="wegnummer", dtype=int)
# dataset = one_hot_encode(df=dataset, column="type_controle")
# dataset = one_hot_encode(df=dataset, column="hm_paal")

dataset.compute()

,y,zijde_beide,zijde_links,zijde_rechts,day_Friday,day_Monday,day_Saturday,day_Sunday,day_Thursday,day_Tuesday,...,wegnummer_N848,wegnummer_N855,wegnummer_N857,wegnummer_N862,wegnummer_N863,wegnummer_N9,wegnummer_N919,wegnummer_N980,wegnummer_N99,wegnummer_Y351
5,1,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96501,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96501,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96501,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96501,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96501,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
dataset.to_parquet(DATA_DIR / f"encoded_{initial_sample_size}.parquet")