In [14]:
import numpy as np
import pandas as pd

from py.consts import DATA_DIR, DAYS_OF_WEEK, MONTHS_OF_YEAR
from py.utils import one_hot_encode

In [15]:
df = pd.read_pickle(DATA_DIR / "flitsers.pkl")

sample_size: int = 1000
print(f"number of records: {len(df)}")
df = df.sample(sample_size)
print(f"sampled to {sample_size} records")
    
df.head()

number of records: 96757
sampled to 1000 records

,id,datum,soort_weg,wegnummer,zijde,hm_paal,type_controle,tijd_van_melden,details,laatste_activiteit,...,weer_temp_min,weer_luchtdruk_hpa,weer_luchtvochtigheid_procent,weer_windsnelheid_m_per_sec,weer_windrichting_graden,weer_bewolking_procent,weer_regen_mm,weer_sneeuw_mm,weer_zonnestand,weer_locatie_naam
39790,59549,2020-04-20,nweg,N240,beide,5.7,Radar,14:44:37,\n</td,19:50:32.549953,...,16.00,1021.0,36.0,10.30,80.0,0.0,NaN,NaN,na_zonsopgang,Gemeente Wieringermeer
91125,5911,2016-09-24,snelweg,A28,rechts,196.3,Radar,07:40:33,\r\n,08:15:06.410072,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
14107,93235,2022-02-22,nweg,N196,beide,0,Radar,11:09:29,on,14:31:12.225653,...,6.66,1013.0,84.0,8.94,210.0,75.0,NaN,NaN,na_zonsopgang,Schiphol
46833,50635,2019-09-25,nweg,N278,beide,9.4,Laser,14:00:08,bij ingber\n</td,16:50:36.269562,...,16.00,1006.0,67.0,8.20,230.0,90.0,NaN,NaN,na_zonsopgang,Margraten
25402,79527,2021-04-14,nweg,N257,beide,7.5,Radar,06:37:11,\n</td,12:50:27.937181,...,1.00,1030.0,80.0,1.54,160.0,90.0,NaN,NaN,voor_zonsopgang,Nieuw-Vossemeer

In [16]:
df.shape

(1000, 27)

In [17]:
dataset = df[["datum", "wegnummer", "zijde"]]

dataset["datum"] = pd.to_datetime(dataset.datum)
dataset["month"] = dataset.datum.dt.month_name()
dataset["day"] = dataset.datum.dt.day_name()
dataset = dataset.drop(columns=["datum"])

dataset["y"] = 1

dataset.head()

/tmp/ipykernel_1478/3700819593.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["datum"] = pd.to_datetime(dataset.datum)
/tmp/ipykernel_1478/3700819593.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["month"] = dataset.datum.dt.month_name()
/tmp/ipykernel_1478/3700819593.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["day"] = dataset.datum.dt.day_name()

      wegnummer   zijde      month        day  y
39790      N240   beide      April     Monday  1
91125       A28  rechts  September   Saturday  1
14107      N196   beide   February    Tuesday  1
46833      N278   beide  September  Wednesday  1
25402      N257   beide      April  Wednesday  1

In [18]:
# zijde
dataset = pd.concat([dataset, dataset.loc[(dataset.y == 1) & (dataset.zijde == "links")].assign(zijde="rechts", y=0)])
dataset = pd.concat([dataset, dataset.loc[(dataset.y == 1) & (dataset.zijde == "rechts")].assign(zijde="links", y=0)])

df.head()

,id,datum,soort_weg,wegnummer,zijde,hm_paal,type_controle,tijd_van_melden,details,laatste_activiteit,...,weer_temp_min,weer_luchtdruk_hpa,weer_luchtvochtigheid_procent,weer_windsnelheid_m_per_sec,weer_windrichting_graden,weer_bewolking_procent,weer_regen_mm,weer_sneeuw_mm,weer_zonnestand,weer_locatie_naam
39790,59549,2020-04-20,nweg,N240,beide,5.7,Radar,14:44:37,\n</td,19:50:32.549953,...,16.00,1021.0,36.0,10.30,80.0,0.0,NaN,NaN,na_zonsopgang,Gemeente Wieringermeer
91125,5911,2016-09-24,snelweg,A28,rechts,196.3,Radar,07:40:33,\r\n,08:15:06.410072,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
14107,93235,2022-02-22,nweg,N196,beide,0,Radar,11:09:29,on,14:31:12.225653,...,6.66,1013.0,84.0,8.94,210.0,75.0,NaN,NaN,na_zonsopgang,Schiphol
46833,50635,2019-09-25,nweg,N278,beide,9.4,Laser,14:00:08,bij ingber\n</td,16:50:36.269562,...,16.00,1006.0,67.0,8.20,230.0,90.0,NaN,NaN,na_zonsopgang,Margraten
25402,79527,2021-04-14,nweg,N257,beide,7.5,Radar,06:37:11,\n</td,12:50:27.937181,...,1.00,1030.0,80.0,1.54,160.0,90.0,NaN,NaN,voor_zonsopgang,Nieuw-Vossemeer

In [19]:
negative_records_added = 0

for i, month in enumerate(MONTHS_OF_YEAR):
    remaining_months = MONTHS_OF_YEAR.copy()
    del remaining_months[i]

    records_on_this_month = dataset.loc[(dataset.y == 1) & (dataset.month == month)]
    records_on_this_month_count = len(records_on_this_month)

    print(f"{records_on_this_month_count} occurrences on {month}: adding {records_on_this_month_count * 6} negative records...")
    
    negative_records = []
    for remaining_month in remaining_months:
        negative_records.append(records_on_this_month.assign(month=remaining_month, y=0))
        
    dataset = pd.concat([dataset, *negative_records])

    negative_records_added += records_on_this_month_count * 6

print(f"added {negative_records_added} negative records")

98 occurrences on January: adding 588 negative records...
97 occurrences on February: adding 582 negative records...
99 occurrences on March: adding 594 negative records...
107 occurrences on April: adding 642 negative records...
77 occurrences on May: adding 462 negative records...
78 occurrences on June: adding 468 negative records...
93 occurrences on July: adding 558 negative records...
68 occurrences on August: adding 408 negative records...
84 occurrences on September: adding 504 negative records...
62 occurrences on October: adding 372 negative records...
74 occurrences on November: adding 444 negative records...
63 occurrences on December: adding 378 negative records...
added 6000 negative records

In [20]:
negative_records_added = 0

for i, day in enumerate(DAYS_OF_WEEK):
    remaining_days = DAYS_OF_WEEK.copy()
    del remaining_days[i]
    
    records_on_this_day = dataset.loc[(dataset.y == 1) & (dataset.day == day)]
    records_on_this_day_count = len(records_on_this_day)
    
    print(f"{records_on_this_day_count} occurrences on {day}: adding {records_on_this_day_count * 6} negative records...")
    
    negative_records = []
    for remaining_day in remaining_days:
        negative_records.append(records_on_this_day.assign(day=remaining_day, y=0))
        
    dataset = pd.concat([dataset, *negative_records])
    
    negative_records_added += records_on_this_day_count * 6

print(f"added {negative_records_added} negative records")

159 occurrences on Monday: adding 954 negative records...
194 occurrences on Tuesday: adding 1164 negative records...
188 occurrences on Wednesday: adding 1128 negative records...
154 occurrences on Thursday: adding 924 negative records...
139 occurrences on Friday: adding 834 negative records...
99 occurrences on Saturday: adding 594 negative records...
67 occurrences on Sunday: adding 402 negative records...
added 6000 negative records

In [21]:
road_numbers = dataset.wegnummer.unique()
negative_records_added = 0

for i, road_number in enumerate(road_numbers):
    remaining_roads = np.delete(road_numbers.copy(), [i])
    remaining_roads_count = len(remaining_roads)
    
    records_on_this_road = dataset.loc[(dataset.y == 1) & (dataset.wegnummer == road_number)]
    records_on_this_road_count = len(records_on_this_road)
    
    print(f"{records_on_this_road_count} occurrences on road {road_number}: adding {records_on_this_road_count * remaining_roads_count} negative records...")
    
    negative_records = []
    for remaining_road in remaining_roads:
        negative_records.append(records_on_this_road.assign(wegnummer=remaining_road, y=0))
        
    dataset = pd.concat([dataset, *negative_records])
        
    negative_records_added += records_on_this_road_count * remaining_roads_count

print(f"added {negative_records_added} negative records")

4 occurrences on road N240: adding 1072 negative records...
19 occurrences on road A28: adding 5092 negative records...
3 occurrences on road N196: adding 804 negative records...
2 occurrences on road N278: adding 536 negative records...
3 occurrences on road N257: adding 804 negative records...
1 occurrences on road N248: adding 268 negative records...
1 occurrences on road N379: adding 268 negative records...
8 occurrences on road N33: adding 2144 negative records...
1 occurrences on road N332: adding 268 negative records...
8 occurrences on road N305: adding 2144 negative records...
14 occurrences on road A6: adding 3752 negative records...
42 occurrences on road A2: adding 11256 negative records...
2 occurrences on road N48: adding 536 negative records...
16 occurrences on road N201: adding 4288 negative records...
3 occurrences on road N615: adding 804 negative records...
4 occurrences on road N351: adding 1072 negative records...
5 occurrences on road N702: adding 1340 negative records...
5 occurrences on road N309: adding 1340 negative records...
2 occurrences on road N301: adding 536 negative records...
3 occurrences on road N237: adding 804 negative records...
7 occurrences on road N36: adding 1876 negative records...
2 occurrences on road N378: adding 536 negative records...
11 occurrences on road N209: adding 2948 negative records...
2 occurrences on road N367: adding 536 negative records...
2 occurrences on road N562: adding 536 negative records...
4 occurrences on road N230: adding 1072 negative records...
4 occurrences on road A13: adding 1072 negative records...
21 occurrences on road A4: adding 5628 negative records...
3 occurrences on road N388: adding 804 negative records...
1 occurrences on road N325: adding 268 negative records...
5 occurrences on road N812: adding 1340 negative records...
7 occurrences on road N260: adding 1876 negative records...
4 occurrences on road A35: adding 1072 negative records...
6 occurrences on road N315: adding 1608 negative records...
8 occurrences on road N218: adding 2144 negative records...
3 occurrences on road N59: adding 804 negative records...
2 occurrences on road N834: adding 536 negative records...
1 occurrences on road N253: adding 268 negative records...
4 occurrences on road N206: adding 1072 negative records...
3 occurrences on road N701: adding 804 negative records...
6 occurrences on road N282: adding 1608 negative records...
2 occurrences on road N493: adding 536 negative records...
4 occurrences on road N245: adding 1072 negative records...
13 occurrences on road A16: adding 3484 negative records...
14 occurrences on road A27: adding 3752 negative records...
2 occurrences on road N612: adding 536 negative records...
4 occurrences on road A20: adding 1072 negative records...
24 occurrences on road A12: adding 6432 negative records...
3 occurrences on road N516: adding 804 negative records...
4 occurrences on road N202: adding 1072 negative records...
4 occurrences on road N284: adding 1072 negative records...
19 occurrences on road A7: adding 5092 negative records...
2 occurrences on road N264: adding 536 negative records...
4 occurrences on road N346: adding 1072 negative records...
5 occurrences on road N269: adding 1340 negative records...
11 occurrences on road A58: adding 2948 negative records...
1 occurrences on road N376: adding 268 negative records...
4 occurrences on road N359: adding 1072 negative records...
4 occurrences on road N225: adding 1072 negative records...
2 occurrences on road N18: adding 536 negative records...
33 occurrences on road A1: adding 8844 negative records...
6 occurrences on road A50: adding 1608 negative records...
3 occurrences on road N217: adding 804 negative records...
4 occurrences on road N319: adding 1072 negative records...
5 occurrences on road N224: adding 1340 negative records...
2 occurrences on road N375: adding 536 negative records...
5 occurrences on road A76: adding 1340 negative records...
2 occurrences on road N308: adding 536 negative records...
5 occurrences on road N212: adding 1340 negative records...
4 occurrences on road A67: adding 1072 negative records...
2 occurrences on road N733: adding 536 negative records...
4 occurrences on road N355: adding 1072 negative records...
3 occurrences on road N659: adding 804 negative records...
10 occurrences on road A73: adding 2680 negative records...
9 occurrences on road A9: adding 2412 negative records...
8 occurrences on road N310: adding 2144 negative records...
9 occurrences on road N215: adding 2412 negative records...
2 occurrences on road N256: adding 536 negative records...
4 occurrences on road N343: adding 1072 negative records...
6 occurrences on road N9: adding 1608 negative records...
1 occurrences on road N447: adding 268 negative records...
18 occurrences on road A15: adding 4824 negative records...
4 occurrences on road N307: adding 1072 negative records...
12 occurrences on road N35: adding 3216 negative records...
1 occurrences on road N745: adding 268 negative records...
9 occurrences on road N214: adding 2412 negative records...
2 occurrences on road N44: adding 536 negative records...
2 occurrences on road N374: adding 536 negative records...
6 occurrences on road N244: adding 1608 negative records...
3 occurrences on road N836: adding 804 negative records...
1 occurrences on road N625: adding 268 negative records...
5 occurrences on road N211: adding 1340 negative records...
1 occurrences on road N980: adding 268 negative records...
1 occurrences on road N664: adding 268 negative records...
4 occurrences on road N210: adding 1072 negative records...
4 occurrences on road N352: adding 1072 negative records...
2 occurrences on road N705: adding 536 negative records...
2 occurrences on road N373: adding 536 negative records...
9 occurrences on road N46: adding 2412 negative records...
5 occurrences on road N361: adding 1340 negative records...
3 occurrences on road A200: adding 804 negative records...
4 occurrences on road N347: adding 1072 negative records...
3 occurrences on road N631: adding 804 negative records...
3 occurrences on road A31: adding 804 negative records...
1 occurrences on road N227: adding 268 negative records...
2 occurrences on road N280: adding 536 negative records...
5 occurrences on road N207: adding 1340 negative records...
3 occurrences on road N371: adding 804 negative records...
4 occurrences on road N457: adding 1072 negative records...
5 occurrences on road N345: adding 1340 negative records...
7 occurrences on road N377: adding 1876 negative records...
2 occurrences on road N616: adding 536 negative records...
1 occurrences on road N246: adding 268 negative records...
3 occurrences on road N622: adding 804 negative records...
5 occurrences on road N397: adding 1340 negative records...
1 occurrences on road N223: adding 268 negative records...
9 occurrences on road N57: adding 2412 negative records...
4 occurrences on road N277: adding 1072 negative records...
5 occurrences on road N261: adding 1340 negative records...
1 occurrences on road N846: adding 268 negative records...
11 occurrences on road N302: adding 2948 negative records...
1 occurrences on road N857: adding 268 negative records...
11 occurrences on road N31: adding 2948 negative records...
1 occurrences on road N862: adding 268 negative records...
4 occurrences on road N233: adding 1072 negative records...
4 occurrences on road N11: adding 1072 negative records...
1 occurrences on road N250: adding 268 negative records...
3 occurrences on road N200: adding 804 negative records...
8 occurrences on road N348: adding 2144 negative records...
2 occurrences on road N620: adding 536 negative records...
1 occurrences on road N398: adding 268 negative records...
1 occurrences on road N919: adding 268 negative records...
1 occurrences on road N356: adding 268 negative records...
5 occurrences on road N331: adding 1340 negative records...
3 occurrences on road N350: adding 804 negative records...
1 occurrences on road N271: adding 268 negative records...
6 occurrences on road N279: adding 1608 negative records...
7 occurrences on road N304: adding 1876 negative records...
3 occurrences on road A59: adding 804 negative records...
2 occurrences on road A37: adding 536 negative records...
3 occurrences on road A32: adding 804 negative records...
11 occurrences on road N203: adding 2948 negative records...
1 occurrences on road N782: adding 268 negative records...
3 occurrences on road N340: adding 804 negative records...
1 occurrences on road N735: adding 268 negative records...
1 occurrences on road N496: adding 268 negative records...
1 occurrences on road N226: adding 268 negative records...
10 occurrences on road N7: adding 2680 negative records...
2 occurrences on road N236: adding 536 negative records...
1 occurrences on road N762: adding 268 negative records...
3 occurrences on road N199: adding 804 negative records...
1 occurrences on road N484: adding 268 negative records...
2 occurrences on road N520: adding 536 negative records...
5 occurrences on road N242: adding 1340 negative records...
1 occurrences on road N514: adding 268 negative records...
1 occurrences on road N34: adding 268 negative records...
2 occurrences on road N235: adding 536 negative records...
3 occurrences on road N804: adding 804 negative records...
1 occurrences on road N276: adding 268 negative records...
1 occurrences on road N329: adding 268 negative records...
3 occurrences on road N480: adding 804 negative records...
1 occurrences on road N341: adding 268 negative records...
2 occurrences on road N472: adding 536 negative records...
3 occurrences on road N221: adding 804 negative records...
4 occurrences on road N639: adding 1072 negative records...
5 occurrences on road N385: adding 1340 negative records...
1 occurrences on road Y351: adding 268 negative records...
2 occurrences on road N65: adding 536 negative records...
1 occurrences on road N766: adding 268 negative records...
1 occurrences on road N444: adding 268 negative records...
1 occurrences on road N786: adding 268 negative records...
5 occurrences on road N344: adding 1340 negative records...
1 occurrences on road N632: adding 268 negative records...
4 occurrences on road A8: adding 1072 negative records...
4 occurrences on road N386: adding 1072 negative records...
1 occurrences on road A348: adding 268 negative records...
1 occurrences on road N293: adding 268 negative records...
2 occurrences on road N506: adding 536 negative records...
7 occurrences on road N247: adding 1876 negative records...
5 occurrences on road N349: adding 1340 negative records...
2 occurrences on road N262: adding 536 negative records...
4 occurrences on road N334: adding 1072 negative records...
2 occurrences on road N263: adding 536 negative records...
3 occurrences on road A10: adding 804 negative records...
1 occurrences on road N839: adding 268 negative records...
1 occurrences on road A18: adding 268 negative records...
1 occurrences on road N459: adding 268 negative records...
1 occurrences on road A29: adding 268 negative records...
2 occurrences on road N792: adding 536 negative records...
2 occurrences on road N306: adding 536 negative records...
2 occurrences on road N763: adding 536 negative records...
6 occurrences on road N360: adding 1608 negative records...
4 occurrences on road N274: adding 1072 negative records...
4 occurrences on road N285: adding 1072 negative records...
5 occurrences on road N231: adding 1340 negative records...
2 occurrences on road N740: adding 536 negative records...
3 occurrences on road N837: adding 804 negative records...
4 occurrences on road A30: adding 1072 negative records...
2 occurrences on road N380: adding 536 negative records...
2 occurrences on road N381: adding 536 negative records...
1 occurrences on road N336: adding 268 negative records...
2 occurrences on road N205: adding 536 negative records...
1 occurrences on road N481: adding 268 negative records...
2 occurrences on road N353: adding 536 negative records...
1 occurrences on road N99: adding 268 negative records...
1 occurrences on road N383: adding 268 negative records...
1 occurrences on road N510: adding 268 negative records...
2 occurrences on road N521: adding 536 negative records...
1 occurrences on road N848: adding 268 negative records...
1 occurrences on road N396: adding 268 negative records...
1 occurrences on road N299: adding 268 negative records...
1 occurrences on road A79: adding 268 negative records...
1 occurrences on road N272: adding 268 negative records...
3 occurrences on road N289: adding 804 negative records...
1 occurrences on road N453: adding 268 negative records...
2 occurrences on road A22: adding 536 negative records...
1 occurrences on road N243: adding 268 negative records...
2 occurrences on road N62: adding 536 negative records...
3 occurrences on road N781: adding 804 negative records...
5 occurrences on road A17: adding 1340 negative records...
1 occurrences on road N417: adding 268 negative records...
1 occurrences on road A65: adding 268 negative records...
1 occurrences on road N556: adding 268 negative records...
4 occurrences on road N270: adding 1072 negative records...
1 occurrences on road N630: adding 268 negative records...
2 occurrences on road N241: adding 536 negative records...
2 occurrences on road N14: adding 536 negative records...
2 occurrences on road N706: adding 536 negative records...
4 occurrences on road N208: adding 1072 negative records...
1 occurrences on road N712: adding 268 negative records...
1 occurrences on road N395: adding 268 negative records...
2 occurrences on road N743: adding 536 negative records...
3 occurrences on road N322: adding 804 negative records...
2 occurrences on road N370: adding 536 negative records...
1 occurrences on road N502: adding 268 negative records...
1 occurrences on road N401: adding 268 negative records...
1 occurrences on road N358: adding 268 negative records...
1 occurrences on road N855: adding 268 negative records...
1 occurrences on road N863: adding 268 negative records...
1 occurrences on road N638: adding 268 negative records...
1 occurrences on road N524: adding 268 negative records...
1 occurrences on road A44: adding 268 negative records...
1 occurrences on road N470: adding 268 negative records...
1 occurrences on road N471: adding 268 negative records...
1 occurrences on road N337: adding 268 negative records...
1 occurrences on road N522: adding 268 negative records...
1 occurrences on road N228: adding 268 negative records...
1 occurrences on road N69: adding 268 negative records...
1 occurrences on road N321: adding 268 negative records...
2 occurrences on road N61: adding 536 negative records...
1 occurrences on road N317: adding 268 negative records...
1 occurrences on road A326: adding 268 negative records...
1 occurrences on road N566: adding 268 negative records...
1 occurrences on road N273: adding 268 negative records...
1 occurrences on road N366: adding 268 negative records...
1 occurrences on road N806: adding 268 negative records...
1 occurrences on road N342: adding 268 negative records...
1 occurrences on road N637: adding 268 negative records...
1 occurrences on road N303: adding 268 negative records...
1 occurrences on road N50: adding 268 negative records...
1 occurrences on road N451: adding 268 negative records...
1 occurrences on road N734: adding 268 negative records...
1 occurrences on road N605: adding 268 negative records...
1 occurrences on road N798: adding 268 negative records...
1 occurrences on road N2: adding 268 negative records...
1 occurrences on road N335: adding 268 negative records...
1 occurrences on road N281: adding 268 negative records...
1 occurrences on road N316: adding 268 negative records...
1 occurrences on road N389: adding 268 negative records...
added 268000 negative records

In [23]:
print(dataset.shape)
dataset.head()

(286419, 5)

      wegnummer   zijde      month        day  y
39790      N240   beide      April     Monday  1
91125       A28  rechts  September   Saturday  1
14107      N196   beide   February    Tuesday  1
46833      N278   beide  September  Wednesday  1
25402      N257   beide      April  Wednesday  1

In [24]:
dataset.to_parquet(DATA_DIR / f"prepared_{sample_size}.parquet")

One-hot encode columns

In [ ]:
dataset = one_hot_encode(df=dataset, column="zijde")
dataset = one_hot_encode(df=dataset, column="day")
dataset = one_hot_encode(df=dataset, column="month")
dataset = one_hot_encode(df=dataset, column="wegnummer")
# dataset = one_hot_encode(df=dataset, column="type_controle")
# dataset = one_hot_encode(df=dataset, column="hm_paal")

In [181]:
dataset.head()
dataset.shape

(500, 412)

In [200]:
dataset.loc[(dataset.y == 1) & (dataset.day_Monday == True)]

,y,zijde_beide,zijde_links,zijde_rechts,type_controle_Laser,type_controle_Radar,day_Friday,day_Monday,day_Saturday,day_Sunday,...,hm_paal_9.6,hm_paal_9.7,hm_paal_9.8,hm_paal_90.2,hm_paal_90.7,hm_paal_91.5,hm_paal_93.7,hm_paal_95.6,hm_paal_99.0,hm_paal_99.2
0,1,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,False,False,True,True,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,1,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4,1,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,1,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
389,1,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
390,1,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
391,1,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
392,1,False,False,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False