In [1]:
import numpy as np
import pandas as pd

from py.consts import DATA_DIR, DAYS_OF_WEEK, MONTHS_OF_YEAR
from py.utils import one_hot_encode

In [4]:
df = pd.read_pickle(DATA_DIR / "flitsers.pkl")

sample_size: int = 1000
print(f"number of records: {len(df)}")
df = df.sample(sample_size)
print(f"sampled to {sample_size} records")
    
df.head()

number of records: 96757
sampled to 1000 records

,id,datum,soort_weg,wegnummer,zijde,hm_paal,type_controle,tijd_van_melden,details,laatste_activiteit,...,weer_temp_min,weer_luchtdruk_hpa,weer_luchtvochtigheid_procent,weer_windsnelheid_m_per_sec,weer_windrichting_graden,weer_bewolking_procent,weer_regen_mm,weer_sneeuw_mm,weer_zonnestand,weer_locatie_naam
11373,96207,2022-05-05,nweg,N343,beide,26.6,Radar,10:33:55,\n</td,15:50:05.942842,...,13.99,1024.0,57.0,0.89,202.0,100.0,NaN,NaN,na_zonsopgang,Westerhaar-Vriezenveensewijk
21883,84345,2021-07-11,snelweg,A2,rechts,185.2,Radar,19:45:05,bij afslag budel onder viaduct\n</td,20:10:45.387596,...,20.95,1014.0,60.0,1.54,240.0,81.0,NaN,NaN,na_zonsopgang,Cranendonck
55158,42266,2019-01-12,snelweg,A28,rechts,91.2,Radar,07:43:00,voor afslag zwolle-zuid\r\n,17:15:02.972019,...,6.00,1020.0,87.0,4.60,230.0,90.0,NaN,NaN,voor_zonsopgang,Katerveer
52675,44764,2019-05-09,nweg,N203,beide,54.4,Laser,09:13:00,bij afslag naar de jachthaven vlakbij de a9\n...,11:50:39.597594,...,10.00,995.0,81.0,5.10,180.0,0.0,NaN,NaN,na_zonsopgang,Uitgeest
84278,13094,2017-04-19,snelweg,A12,rechts,65.4,Radar,14:22:41,bij texaco tankstation de forten\r\n,13:45:03.401523,...,8.00,1037.0,45.0,4.60,50.0,20.0,NaN,NaN,na_zonsopgang,Bunnik

In [5]:
df.shape

(1000, 27)

In [6]:
dataset = df[["datum", "wegnummer", "zijde"]]

dataset["datum"] = pd.to_datetime(dataset.datum)
dataset["month"] = dataset.datum.dt.month_name()
dataset["day"] = dataset.datum.dt.day_name()
dataset = dataset.drop(columns=["datum"])

dataset["y"] = 1

dataset.head()

/tmp/ipykernel_1478/3700819593.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["datum"] = pd.to_datetime(dataset.datum)
/tmp/ipykernel_1478/3700819593.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["month"] = dataset.datum.dt.month_name()
/tmp/ipykernel_1478/3700819593.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["day"] = dataset.datum.dt.day_name()

      wegnummer   zijde    month        day  y
11373      N343   beide      May   Thursday  1
21883        A2  rechts     July     Sunday  1
55158       A28  rechts  January   Saturday  1
52675      N203   beide      May   Thursday  1
84278       A12  rechts    April  Wednesday  1

In [7]:
# zijde
dataset = pd.concat([dataset, dataset.loc[(dataset.y == 1) & (dataset.zijde == "links")].assign(zijde="rechts", y=0)])
dataset = pd.concat([dataset, dataset.loc[(dataset.y == 1) & (dataset.zijde == "rechts")].assign(zijde="links", y=0)])

df.head()

,id,datum,soort_weg,wegnummer,zijde,hm_paal,type_controle,tijd_van_melden,details,laatste_activiteit,...,weer_temp_min,weer_luchtdruk_hpa,weer_luchtvochtigheid_procent,weer_windsnelheid_m_per_sec,weer_windrichting_graden,weer_bewolking_procent,weer_regen_mm,weer_sneeuw_mm,weer_zonnestand,weer_locatie_naam
11373,96207,2022-05-05,nweg,N343,beide,26.6,Radar,10:33:55,\n</td,15:50:05.942842,...,13.99,1024.0,57.0,0.89,202.0,100.0,NaN,NaN,na_zonsopgang,Westerhaar-Vriezenveensewijk
21883,84345,2021-07-11,snelweg,A2,rechts,185.2,Radar,19:45:05,bij afslag budel onder viaduct\n</td,20:10:45.387596,...,20.95,1014.0,60.0,1.54,240.0,81.0,NaN,NaN,na_zonsopgang,Cranendonck
55158,42266,2019-01-12,snelweg,A28,rechts,91.2,Radar,07:43:00,voor afslag zwolle-zuid\r\n,17:15:02.972019,...,6.00,1020.0,87.0,4.60,230.0,90.0,NaN,NaN,voor_zonsopgang,Katerveer
52675,44764,2019-05-09,nweg,N203,beide,54.4,Laser,09:13:00,bij afslag naar de jachthaven vlakbij de a9\n...,11:50:39.597594,...,10.00,995.0,81.0,5.10,180.0,0.0,NaN,NaN,na_zonsopgang,Uitgeest
84278,13094,2017-04-19,snelweg,A12,rechts,65.4,Radar,14:22:41,bij texaco tankstation de forten\r\n,13:45:03.401523,...,8.00,1037.0,45.0,4.60,50.0,20.0,NaN,NaN,na_zonsopgang,Bunnik

In [8]:
negative_records_added = 0

for i, month in enumerate(MONTHS_OF_YEAR):
    remaining_months = MONTHS_OF_YEAR.copy()
    del remaining_months[i]

    records_on_this_month = dataset.loc[(dataset.y == 1) & (dataset.month == month)]
    records_on_this_month_count = len(records_on_this_month)

    print(f"{records_on_this_month_count} occurrences on {month}: adding {records_on_this_month_count * 6} negative records...")
    
    negative_records = []
    for remaining_month in remaining_months:
        negative_records.append(records_on_this_month.assign(month=remaining_month, y=0))
        
    dataset = pd.concat([dataset, *negative_records])

    negative_records_added += records_on_this_month_count * 6

print(f"added {negative_records_added} negative records")

92 occurrences on January: adding 552 negative records...
103 occurrences on February: adding 618 negative records...
99 occurrences on March: adding 594 negative records...
84 occurrences on April: adding 504 negative records...
100 occurrences on May: adding 600 negative records...
80 occurrences on June: adding 480 negative records...
80 occurrences on July: adding 480 negative records...
74 occurrences on August: adding 444 negative records...
77 occurrences on September: adding 462 negative records...
80 occurrences on October: adding 480 negative records...
73 occurrences on November: adding 438 negative records...
58 occurrences on December: adding 348 negative records...
added 6000 negative records

In [9]:
negative_records_added = 0

for i, day in enumerate(DAYS_OF_WEEK):
    remaining_days = DAYS_OF_WEEK.copy()
    del remaining_days[i]
    
    records_on_this_day = dataset.loc[(dataset.y == 1) & (dataset.day == day)]
    records_on_this_day_count = len(records_on_this_day)
    
    print(f"{records_on_this_day_count} occurrences on {day}: adding {records_on_this_day_count * 6} negative records...")
    
    negative_records = []
    for remaining_day in remaining_days:
        negative_records.append(records_on_this_day.assign(day=remaining_day, y=0))
        
    dataset = pd.concat([dataset, *negative_records])
    
    negative_records_added += records_on_this_day_count * 6

print(f"added {negative_records_added} negative records")

143 occurrences on Monday: adding 858 negative records...
211 occurrences on Tuesday: adding 1266 negative records...
185 occurrences on Wednesday: adding 1110 negative records...
175 occurrences on Thursday: adding 1050 negative records...
119 occurrences on Friday: adding 714 negative records...
89 occurrences on Saturday: adding 534 negative records...
78 occurrences on Sunday: adding 468 negative records...
added 6000 negative records

In [10]:
road_numbers = dataset.wegnummer.unique()
negative_records_added = 0

for i, road_number in enumerate(road_numbers):
    remaining_roads = np.delete(road_numbers.copy(), [i])
    remaining_roads_count = len(remaining_roads)
    
    records_on_this_road = dataset.loc[(dataset.y == 1) & (dataset.wegnummer == road_number)]
    records_on_this_road_count = len(records_on_this_road)
    
    print(f"{records_on_this_road_count} occurrences on road {road_number}: adding {records_on_this_road_count * remaining_roads_count} negative records...")
    
    negative_records = []
    for remaining_road in remaining_roads:
        negative_records.append(records_on_this_road.assign(wegnummer=remaining_road, y=0))
        
    dataset = pd.concat([dataset, *negative_records])
        
    negative_records_added += records_on_this_road_count * remaining_roads_count

print(f"added {negative_records_added} negative records")

3 occurrences on road N343: adding 801 negative records...
37 occurrences on road A2: adding 9879 negative records...
26 occurrences on road A28: adding 6942 negative records...
6 occurrences on road N203: adding 1602 negative records...
16 occurrences on road A12: adding 4272 negative records...
5 occurrences on road N212: adding 1335 negative records...
14 occurrences on road A50: adding 3738 negative records...
3 occurrences on road N348: adding 801 negative records...
18 occurrences on road A6: adding 4806 negative records...
7 occurrences on road N344: adding 1869 negative records...
5 occurrences on road N315: adding 1335 negative records...
3 occurrences on road N99: adding 801 negative records...
16 occurrences on road A15: adding 4272 negative records...
6 occurrences on road A67: adding 1602 negative records...
7 occurrences on road N230: adding 1869 negative records...
18 occurrences on road A16: adding 4806 negative records...
1 occurrences on road N231: adding 267 negative records...
5 occurrences on road N225: adding 1335 negative records...
7 occurrences on road A10: adding 1869 negative records...
3 occurrences on road N391: adding 801 negative records...
13 occurrences on road N7: adding 3471 negative records...
20 occurrences on road A1: adding 5340 negative records...
13 occurrences on road N305: adding 3471 negative records...
11 occurrences on road N33: adding 2937 negative records...
6 occurrences on road N377: adding 1602 negative records...
7 occurrences on road N261: adding 1869 negative records...
13 occurrences on road N302: adding 3471 negative records...
7 occurrences on road N337: adding 1869 negative records...
3 occurrences on road N289: adding 801 negative records...
20 occurrences on road A7: adding 5340 negative records...
15 occurrences on road A27: adding 4005 negative records...
2 occurrences on road N274: adding 534 negative records...
4 occurrences on road N524: adding 1068 negative records...
15 occurrences on road A4: adding 4005 negative records...
4 occurrences on road A8: adding 1068 negative records...
1 occurrences on road N333: adding 267 negative records...
1 occurrences on road N837: adding 267 negative records...
12 occurrences on road A9: adding 3204 negative records...
1 occurrences on road N704: adding 267 negative records...
4 occurrences on road N564: adding 1068 negative records...
10 occurrences on road N218: adding 2670 negative records...
3 occurrences on road N267: adding 801 negative records...
2 occurrences on road N34: adding 534 negative records...
3 occurrences on road N278: adding 801 negative records...
1 occurrences on road N272: adding 267 negative records...
4 occurrences on road N244: adding 1068 negative records...
3 occurrences on road N358: adding 801 negative records...
1 occurrences on road N329: adding 267 negative records...
1 occurrences on road N376: adding 267 negative records...
4 occurrences on road N324: adding 1068 negative records...
2 occurrences on road A20: adding 534 negative records...
1 occurrences on road N213: adding 267 negative records...
5 occurrences on road N208: adding 1335 negative records...
8 occurrences on road N347: adding 2136 negative records...
3 occurrences on road N316: adding 801 negative records...
1 occurrences on road N447: adding 267 negative records...
2 occurrences on road A73: adding 534 negative records...
8 occurrences on road N46: adding 2136 negative records...
4 occurrences on road N375: adding 1068 negative records...
5 occurrences on road N306: adding 1335 negative records...
4 occurrences on road N331: adding 1068 negative records...
4 occurrences on road N341: adding 1068 negative records...
4 occurrences on road N200: adding 1068 negative records...
1 occurrences on road N710: adding 267 negative records...
10 occurrences on road N207: adding 2670 negative records...
5 occurrences on road N764: adding 1335 negative records...
6 occurrences on road A76: adding 1602 negative records...
3 occurrences on road A37: adding 801 negative records...
1 occurrences on road N744: adding 267 negative records...
2 occurrences on road N919: adding 534 negative records...
2 occurrences on road N795: adding 534 negative records...
5 occurrences on road N57: adding 1335 negative records...
9 occurrences on road N31: adding 2403 negative records...
7 occurrences on road N209: adding 1869 negative records...
2 occurrences on road N280: adding 534 negative records...
2 occurrences on road N367: adding 534 negative records...
3 occurrences on road N360: adding 801 negative records...
6 occurrences on road N247: adding 1602 negative records...
1 occurrences on road N228: adding 267 negative records...
6 occurrences on road N245: adding 1602 negative records...
3 occurrences on road A58: adding 801 negative records...
6 occurrences on road A35: adding 1602 negative records...
1 occurrences on road N979: adding 267 negative records...
1 occurrences on road N317: adding 267 negative records...
2 occurrences on road N276: adding 534 negative records...
1 occurrences on road N481: adding 267 negative records...
1 occurrences on road N507: adding 267 negative records...
1 occurrences on road N205: adding 267 negative records...
3 occurrences on road N855: adding 801 negative records...
11 occurrences on road N242: adding 2937 negative records...
3 occurrences on road N285: adding 801 negative records...
3 occurrences on road N248: adding 801 negative records...
1 occurrences on road N638: adding 267 negative records...
2 occurrences on road N812: adding 534 negative records...
2 occurrences on road N351: adding 534 negative records...
3 occurrences on road N50: adding 801 negative records...
5 occurrences on road N277: adding 1335 negative records...
4 occurrences on road N361: adding 1068 negative records...
4 occurrences on road N374: adding 1068 negative records...
1 occurrences on road N785: adding 267 negative records...
3 occurrences on road N254: adding 801 negative records...
1 occurrences on road N323: adding 267 negative records...
3 occurrences on road N263: adding 801 negative records...
2 occurrences on road N378: adding 534 negative records...
2 occurrences on road N243: adding 534 negative records...
1 occurrences on road N455: adding 267 negative records...
14 occurrences on road N224: adding 3738 negative records...
10 occurrences on road N310: adding 2670 negative records...
1 occurrences on road N750: adding 267 negative records...
3 occurrences on road N385: adding 801 negative records...
2 occurrences on road N326: adding 534 negative records...
4 occurrences on road N506: adding 1068 negative records...
3 occurrences on road N340: adding 801 negative records...
5 occurrences on road N301: adding 1335 negative records...
3 occurrences on road N229: adding 801 negative records...
2 occurrences on road N806: adding 534 negative records...
4 occurrences on road N11: adding 1068 negative records...
4 occurrences on road N9: adding 1068 negative records...
2 occurrences on road N836: adding 534 negative records...
1 occurrences on road N346: adding 267 negative records...
1 occurrences on road N369: adding 267 negative records...
7 occurrences on road N307: adding 1869 negative records...
5 occurrences on road N371: adding 1335 negative records...
8 occurrences on road N260: adding 2136 negative records...
1 occurrences on road N810: adding 267 negative records...
6 occurrences on road N206: adding 1602 negative records...
11 occurrences on road A13: adding 2937 negative records...
2 occurrences on road N264: adding 534 negative records...
1 occurrences on road N354: adding 267 negative records...
5 occurrences on road N706: adding 1335 negative records...
7 occurrences on road N214: adding 1869 negative records...
1 occurrences on road N396: adding 267 negative records...
2 occurrences on road N782: adding 534 negative records...
8 occurrences on road N386: adding 2136 negative records...
2 occurrences on road A79: adding 534 negative records...
4 occurrences on road A44: adding 1068 negative records...
6 occurrences on road N217: adding 1602 negative records...
2 occurrences on road N303: adding 534 negative records...
2 occurrences on road N480: adding 534 negative records...
1 occurrences on road N286: adding 267 negative records...
5 occurrences on road N270: adding 1335 negative records...
6 occurrences on road N701: adding 1602 negative records...
3 occurrences on road N381: adding 801 negative records...
4 occurrences on road N751: adding 1068 negative records...
9 occurrences on road N35: adding 2403 negative records...
5 occurrences on road N44: adding 1335 negative records...
3 occurrences on road N322: adding 801 negative records...
1 occurrences on road N222: adding 267 negative records...
10 occurrences on road N201: adding 2670 negative records...
3 occurrences on road N257: adding 801 negative records...
7 occurrences on road N702: adding 1869 negative records...
5 occurrences on road N211: adding 1335 negative records...
2 occurrences on road N237: adding 534 negative records...
1 occurrences on road A77: adding 267 negative records...
1 occurrences on road N803: adding 267 negative records...
3 occurrences on road N36: adding 801 negative records...
1 occurrences on road N364: adding 267 negative records...
6 occurrences on road N355: adding 1602 negative records...
1 occurrences on road N401: adding 267 negative records...
2 occurrences on road N288: adding 534 negative records...
1 occurrences on road N789: adding 267 negative records...
7 occurrences on road N457: adding 1869 negative records...
1 occurrences on road N202: adding 267 negative records...
1 occurrences on road N299: adding 267 negative records...
5 occurrences on road N804: adding 1335 negative records...
2 occurrences on road N566: adding 534 negative records...
3 occurrences on road N325: adding 801 negative records...
1 occurrences on road N964: adding 267 negative records...
3 occurrences on road N705: adding 801 negative records...
3 occurrences on road N359: adding 801 negative records...
1 occurrences on road N236: adding 267 negative records...
4 occurrences on road A59: adding 1068 negative records...
1 occurrences on road N312: adding 267 negative records...
2 occurrences on road N762: adding 534 negative records...
3 occurrences on road N352: adding 801 negative records...
4 occurrences on road N69: adding 1068 negative records...
3 occurrences on road N210: adding 801 negative records...
2 occurrences on road N370: adding 534 negative records...
1 occurrences on road N262: adding 267 negative records...
2 occurrences on road N784: adding 534 negative records...
3 occurrences on road N309: adding 801 negative records...
1 occurrences on road N403: adding 267 negative records...
2 occurrences on road N336: adding 534 negative records...
2 occurrences on road N227: adding 534 negative records...
1 occurrences on road N59: adding 267 negative records...
4 occurrences on road N733: adding 1068 negative records...
1 occurrences on road N743: adding 267 negative records...
2 occurrences on road N308: adding 534 negative records...
1 occurrences on road N811: adding 267 negative records...
1 occurrences on road A32: adding 267 negative records...
1 occurrences on road N759: adding 267 negative records...
1 occurrences on road N14: adding 267 negative records...
2 occurrences on road N279: adding 534 negative records...
2 occurrences on road N502: adding 534 negative records...
1 occurrences on road N512: adding 267 negative records...
1 occurrences on road N560: adding 267 negative records...
3 occurrences on road N741: adding 801 negative records...
2 occurrences on road N334: adding 534 negative records...
4 occurrences on road N319: adding 1068 negative records...
1 occurrences on road A325: adding 267 negative records...
4 occurrences on road N304: adding 1068 negative records...
5 occurrences on road N215: adding 1335 negative records...
1 occurrences on road N196: adding 267 negative records...
1 occurrences on road N379: adding 267 negative records...
2 occurrences on road N630: adding 534 negative records...
2 occurrences on road N846: adding 534 negative records...
3 occurrences on road N516: adding 801 negative records...
1 occurrences on road N598: adding 267 negative records...
1 occurrences on road N472: adding 267 negative records...
1 occurrences on road N284: adding 267 negative records...
1 occurrences on road N626: adding 267 negative records...
1 occurrences on road N496: adding 267 negative records...
1 occurrences on road N527: adding 267 negative records...
1 occurrences on road N342: adding 267 negative records...
2 occurrences on road A22: adding 534 negative records...
2 occurrences on road N273: adding 534 negative records...
1 occurrences on road N65: adding 267 negative records...
2 occurrences on road N233: adding 534 negative records...
1 occurrences on road N840: adding 267 negative records...
3 occurrences on road N732: adding 801 negative records...
2 occurrences on road N18: adding 534 negative records...
1 occurrences on road N253: adding 267 negative records...
1 occurrences on road N394: adding 267 negative records...
1 occurrences on road N393: adding 267 negative records...
1 occurrences on road N366: adding 267 negative records...
1 occurrences on road N446: adding 267 negative records...
1 occurrences on road N318: adding 267 negative records...
1 occurrences on road N863: adding 267 negative records...
2 occurrences on road A31: adding 534 negative records...
1 occurrences on road N805: adding 267 negative records...
1 occurrences on road N844: adding 267 negative records...
2 occurrences on road N781: adding 534 negative records...
1 occurrences on road N240: adding 267 negative records...
1 occurrences on road N383: adding 267 negative records...
1 occurrences on road N792: adding 267 negative records...
2 occurrences on road N356: adding 534 negative records...
2 occurrences on road A30: adding 534 negative records...
1 occurrences on road N338: adding 267 negative records...
1 occurrences on road N256: adding 267 negative records...
1 occurrences on road N562: adding 267 negative records...
1 occurrences on road N353: adding 267 negative records...
1 occurrences on road N332: adding 267 negative records...
2 occurrences on road N232: adding 534 negative records...
2 occurrences on road N335: adding 534 negative records...
1 occurrences on road N235: adding 267 negative records...
1 occurrences on road N321: adding 267 negative records...
2 occurrences on road N199: adding 534 negative records...
1 occurrences on road N298: adding 267 negative records...
1 occurrences on road A348: adding 267 negative records...
1 occurrences on road N271: adding 267 negative records...
1 occurrences on road A74: adding 267 negative records...
1 occurrences on road A326: adding 267 negative records...
1 occurrences on road A200: adding 267 negative records...
1 occurrences on road N798: adding 267 negative records...
1 occurrences on road N246: adding 267 negative records...
1 occurrences on road N748: adding 267 negative records...
1 occurrences on road A29: adding 267 negative records...
1 occurrences on road N61: adding 267 negative records...
2 occurrences on road N373: adding 534 negative records...
1 occurrences on road N313: adding 267 negative records...
1 occurrences on road N384: adding 267 negative records...
2 occurrences on road N756: adding 534 negative records...
1 occurrences on road N62: adding 267 negative records...
1 occurrences on road A65: adding 267 negative records...
1 occurrences on road N345: adding 267 negative records...
1 occurrences on road N221: adding 267 negative records...
1 occurrences on road N620: adding 267 negative records...
1 occurrences on road N320: adding 267 negative records...
added 267000 negative records

In [11]:
print(dataset.shape)
dataset.head()

df.to_pickle(DATA_DIR / f"prepared_{sample_size}.pkl")

(285407, 5)

One-hot encode columns

In [ ]:
dataset = one_hot_encode(df=dataset, column="zijde")
dataset = one_hot_encode(df=dataset, column="day")
dataset = one_hot_encode(df=dataset, column="month")
dataset = one_hot_encode(df=dataset, column="wegnummer")
# dataset = one_hot_encode(df=dataset, column="type_controle")
# dataset = one_hot_encode(df=dataset, column="hm_paal")

In [181]:
dataset.head()
dataset.shape

(500, 412)

In [200]:
dataset.loc[(dataset.y == 1) & (dataset.day_Monday == True)]

,y,zijde_beide,zijde_links,zijde_rechts,type_controle_Laser,type_controle_Radar,day_Friday,day_Monday,day_Saturday,day_Sunday,...,hm_paal_9.6,hm_paal_9.7,hm_paal_9.8,hm_paal_90.2,hm_paal_90.7,hm_paal_91.5,hm_paal_93.7,hm_paal_95.6,hm_paal_99.0,hm_paal_99.2
0,1,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,False,False,True,True,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,1,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4,1,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,1,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
389,1,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
390,1,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
391,1,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
392,1,False,False,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False